@font-face {
  font-family: 'lightfont';
  src: url('font/AntipastoPro_trial.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/* 그라데이션 배경에 관련된 부분입니다.*/
canvas 
{
top: 0;
left: 0;
position: fixed; 
z-index: 0;            
pointer-events: none;  
}

/*night day 표시해주는 indicator 부분입니다.*/
indicator{
position:absolute;
z-index: 2;
}

/* 화면 상에 Choose your mood 라고 입력된 부분의 텍스트 상자입니다.*/
txtcontainer{
font-weight: bold;
color: white;
position: relative;
bottom: 10px;
left: 10px;
font-size: 20px;
}

/*슬라이더를 커스터마이징 하는 코드입니다.*/
input#selector  {
position: relative;
-webkit-appearance:none;
width:300px;
height:10px;
border-radius:15px;
background: linear-gradient(to right, #222831, #393E46, #948979, #DFD0B8);
outline:none;
overflow:hidden;
}

/*슬라이더를 커스터마이징 하는 코드입니다.*/
input#selector::-webkit-slider-thumb {
-webkit-appearance:none;
width:10px;
height:10px;
background: white;
border-radius:2px;
box-shadow:-350px 0px 0px 340px #f5f5f5;
cursor:pointer;
}

/*슬라이더와 텍스트상자를 포함하는 큰 검은 상자입니다.*/
#slidercontainer{
top: 50%;
left: 50%;
transform: translate(-50%, -50%) translateY(-50px);
box-shadow: 0px 2px 0px #ECDFCC;
width : 400px;
position : relative;
z-index: 100;
background-color: black;

border-radius: 5px;
}

#textbox{
letter-spacing: 1px;
font-family: 'lightfont',sans-serif;
display: inline;
position: relative;
z-index: inherit;
color : white;
font-weight: 200;
text-shadow: 0px 2px 0px #948979;
}

#maintext{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) translateY(-150px);
z-index: 2;
color: white;
font-weight: 200;
text-shadow: 0px 4px 0px grey ;   
font-size: 35px;
}

#submitbutton{
top: 50%;
left: 50%;
transform: translate(-50%, -50%) translateY(90px);
position: absolute;
z-index: 2;
width: 100px;
height: 50px;
border-radius: 10px;
}

#submitbutton.onclick{
  background-color: #393E46;
}

.fading-text {
transition: opacity 0.5s ease;
}

#menubar{
top:0px;
left:0px;
position: fixed;
z-index: 2;
width: 100vw;
height: 50px;
background-color: black;
box-shadow: 0px 1px 10px white;
color: white;
}